* {
    padding: 2px;
}
.Form {
    display: flex;
    justify-content: center;
}
.Login {
    border: 2px solid black;
    text-align: center;
    margin-top: 100px;
    padding-top: 30px;
    width: 30%;
    height: 340px;
}
.Login-logo {
    width: 20%;
    height: 20%;
}
#userID {
    margin-left: 18px;
    width: 70%;
}
#password {
    width: 70%;
}
.Button {
    margin-left: 73px;
    width: 71%;
}
.ErrorMessage {
    color: red;
}